body{
    background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
table,td,th{
    border:1px black solid;
    border-collapse: collapse;
   margin:auto;
   padding:20px;
}
textarea{
    width: 500px;
	height: 200px;
	border: 1px solid #cccccc;
	padding:10px;
    margin: auto;
	font-family:  sans-serif;
    display: block;

}
.description{
    display: inline-block;
    
    width:25% ;
    margin:40px 20px;

}
img{
    width: 200px;
    height: 200px; 
    margin:20px;
}
footer{
    margin:40px;
}
a{
    text-decoration: none;
    text-align: center;
   
}